body{
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
    /* overflow: hidden; */
}
.square{
    float: left;
    width: 30%;
    margin: 1.66%;
    padding-bottom: 30%;
    border-radius: 15%;
    transition: background 0.5s;
    margin-bottom: 2%;
    /* background-color: purple; */
}

#container{
    max-width: 600px;
    margin: 20px auto ;
    /* display: flex; */
}

h1{
    color: white;
    margin: 0 ;
    font-weight: 300;
    text-transform: uppercase;
    line-height:1.41 ;
    padding: 20px 0;
    font-size: 55px;
}
#reset{
    /*margin-right:20px  ;*/
    text-align: center;
    padding-left: 0;
    margin-left: 0;
}
#reset:hover{
    background-color: none;
    color: none;
}
#easyBtn{
    margin-left: 10px;
}


#stripe{
    background-color: white;
    color: black;
    text-align: center;
    height: 35px;
}
button{
    background-color: white;
    border: none;
    text-transform: uppercase;
    height: 100%;
    color: #e3b0a3;
    letter-spacing: -1px;
    transition: all 0.8s;
    outline: none;
    font-size: small ;
    font-weight: 700;
}
button:focus{
    outline: none;
}
.selected{
    background-color: #e3b0a3;
    color: white;
}
#ans{
    font-size: 150%;
}
#displayMessage{
    display: inline-block;  
    max-width: 600px; 
    width: 30%;
    font-size: medium;
    color: black;
    background-color: white;

}
button:hover{
    background-color: #e3b0a3;
    color: white;
    outline: #e3b0a3;
}
#red{
    color: red;
    font-size: 45px;
}
#green{
    color: green;
    font-size: 45px;

}
#blue{
    color: blue;
    font-size: 45px;
}
#runaway{
    font-weight: 800;
    background-color: #e3b0a3;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 80px;
    text-align: center;
    /* font-weight: 900; */
}
div{
    color: white;
}

#img_sample{
   height: 200px;
   width:200px;
   align-self: flex-end;
   flex-wrap: nowrap;
}
.top{
    display: flex;
    justify-content: space-between;
    background-color: #e3b0a3;
    height: 200px;
}
/* #instructions{
    margin-right: 50px;
    margin left: 0;
} */
#all_squares{
    margin-bottom:  20px;
    height: 30px;
    /* background-color: red; */
}
#inst{
    margin: 20px 30%;
    background-color: black;
    border: 3px solid greenyellow;
    color: white;
    width: 35%;
    height: 4rem;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    border-radius: 200px;
    display: inline-block;
    letter-spacing: -1px;
    transition: color 0.3s,border 0.3s;
    font-size: small;
}

#inst:hover{
    color: #e3b0a3;
    border:3px greenyellow;
    border-style: dashed;
}
#inst:hover span{
    color: white;

}


.mark{
    color: #e3b0a3;
    padding-right: 5px;
    font-size: large;
}
hr#topp{
    max-width:300px;
    padding-top: 1px;
    background-color: greenyellow;
    margin-top: 20%;
    border-radius: 50%;
}
.phoneClick{
    color: white;
    background-color: #e3b0a3;
}

/* tehj diaalof overlay 
/* =====================> 
/* =====================> 
/* =====================> 
/* =====================> /*
/* ====> */
#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: fixed;
	background-color: greenyellow;
	border-radius:7px; 
    width:600px;
    height: 300px;
	z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:6px; }
#dialogbox > div > #dialogboxhead{ 
    background: #666; 
    font-size:19px;
    padding:5px;
    color:#CCC;
 }
#dialogbox > div > #dialogboxbody{ background:#333; padding:10px; color:#FFF;text-align: center; }
#dialogbox > div > #dialogboxfoot{ background: #666; text-align:center; }
#inside_inst{
    display: none;
}
#main_example{
    text-align: center;
}
#dialogbox{
    overflow: auto;
}
#okButton{
    width: 100%;
}
::-webkit-scrollbar{
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
@media (max-width : 580px){
    #dialogbox{
        width:300px;
        height: 300px;
    }
}
/* #tcent{
    font-size: xx-large;
} */
/* #mixred{
    background-color: red;
    height: 5px;
    width: 5px;
}
#mixgreen{
    background-color: green;
    height: 5px;
    width: 5px;
}
#mixyellow{
    background-color: yellow;
    color: black;
    height: 5px;
} */
/* #img{
    display: inline-block;
} */